.header-container {
  background-color: var(--cor-primaria);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding-left: 36px;
  padding-right: 36px;
}

.header-container h2 {
  font-size: 2.5rem;
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  color: var(--cor-tercearia);
}

.nav-menu-container {
  /* background-color: tomato; */
  width: 1200px;
}

.nav-menu-container ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.nav-menu-container ul li a {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px;
  text-decoration: none;
  font-family: "Autour One", system-ui;
  color: var(--cor-tercearia);
}

.nav-menu-container ul li a:hover {
  background-color: var(--cor-secundaria);
  border-radius: 20px;
}

.nav-menu-container ul #btn-nav-email {
  background-color: var(--cor-secundaria);
  padding: 14px;
}

.nav-menu-container ul li #btn-nav-email:hover {
  border-radius: 0;
  background-color: var(--cor-hover);
}
